PORT=4000

DB_HOST=localhost
DB_PORT=3307
DB_NAME=bienes_raices_node_mvc
DB_USER=root
DB_PASSWORD=root

BD_HOST=localhost
BD_PORT=3307
BD_NOMBRE=bienes_raices_node_mvc
BD_USER=root
BD_PASS=root

FRONTEND_PUBLIC_URL=http://localhost:3000
